.column{
    width: 25%;
    float: left;
}
.product{
    border-radius: 10px;
    box-shadow:  0 0 5px 0px  gray;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
 .product .name{
    font-size: larger;
    font-variant: small-caps;
    color: blue;
 }
 .product img{
    max-width: 95%;
 }
 .product .price{
    color: red;
    font-weight:bold;
    font-size: larger;
 }
 .product del{
    color: gray;
 }